* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: radial-gradient(circle, #ff7b00, #ffbb00);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
}

.calculator {
    background: radial-gradient(circle, rgb(43, 41, 41), #1d1d1d);
    width: 380px;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 0 80px rgba(49, 34, 0, 0.6);
    border: #1d1d1d 5px solid;
}

/* DISPLAY */

input {
    width: 100%;
    height: 120px;
    margin-bottom: 20px;
    padding: 15px;
    font-size: 42px;
    border: none;
    border-radius: 15px;
    background-color: #797878;
    color: #fff;
    text-align: right;

    /* Vibe digital */
    font-family: 'Courier New', monospace;
    letter-spacing: 3px;
}

/* GRID DOS BOTÕES */

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

/* BOTÕES GERAIS */

button {
    background: radial-gradient(circle, #ffffff, #5c5c5c);
    height: 70px;
    font-size: 22px;
    border: none;
    border-radius: 18px;
    color: #000;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    background: radial-gradient(circle, #ff7b00, #ffbb00);
    color: #fff;
    transform: scale(1.05);
}

/* OPERAÇÕES (lado direito) */

.operator {
    background: radial-gradient(circle, #ffbb00, #ff7b00);
    color: #fff;
    display: grid;
    align-items: center;
}

/* BOTÃO C (maior e vermelho) */

.clear {
    background: radial-gradient(circle, #ff4d4d, #b30000);
    color: white;
    grid-column: span 2;
    height: 75px;
    font-weight: bold;
}

/* BOTÃO = (maior e amarelo) */

.equal {
    background: radial-gradient(circle, #ffe600, #ffbb00);
    grid-column: span 2;
    height: 75px;
    font-weight: bold;
}
